---
layout: layouts/base.njk
title: Software Developer
pageStyle: /styles/pages/home.css
---

<h1 id="homeTitle">
  i build things<br />
  for fun.
</h1>

<!-- Profile picture and about me text -->
<div id="aboutMeContainer">
  <img
    id="profilePicture"
    src="../assets/spiderman.jpg"
    alt="Irfan Syafie"
  />
  <div id="aboutMeText">
    <h2 id="profileName">hello there!</h2>
    <p>
      im irfan. a student, passionate gamer and aspiring software developer.
    </p>
  </div>
</div>

<!-- Multiple sections container -->
<div id="multipleSection">
  <!-- Blog section -->
  <div class="card">
    <a href="/pages/blog/" class="cardLink">
      <p class="sectionTitle">blog</p>
      <p>
        I like to write. Maybe even thinking of doing a book when I was
        little. But here I am, sharing my thoughts and anything that I like
        :p
      </p>
    </a>
  </div>

  <div class="card">
    <a href="/pages/projects/" class="cardLink">
      <p class="sectionTitle">projects</p>
      <p>
        I have done some small projects during my free and uni time. Feel free
        to look over my projects here.
      </p>
    </a>
  </div>
</div>