/* Title styling */
#blogPostTitle {
  margin-top: 2rem;
  clear: both;
  text-align: center;
  font-size: 2rem;
  padding-top: 3rem;
}

/* Date styling */
#blogDate {
  text-align: center;
  font-size: 1.5rem;
}

/* Blog content size */
#blogContent {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 2rem;
  text-align: center;
}

#blogContent p {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

#blogContent img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem auto;
  border-radius: 8px;
}
