---
layout: layouts/base.njk
title: About Me
pageStyle: /styles/pages/about-me.css
---

<h1 id="aboutMeTitle">
  a little bit <br />
  about myself.
</h1>

<!-- About me content -->
<div id="aboutMeContent">
  <!-- First container -->
  <div class="aboutMeContainer">
    <div class="aboutMeText">
      <h2>intro</h2>
      <p>
        My name is Irfan Syafie, someone who are interested in learning
        getting to know the latest tech in software development. But before
        getting into this industry, I was a mechanical student in my
        secondary school until when it's time to continue my study in the
        college, I chose computer science just because my cousin chose it. I
        had no guide but to just continue my study and get along with it.
      </p>
    </div>
    <div class="containerImage">
      <img src="/assets/intro-picture.jpg" />
    </div>
  </div>

  <!-- Second container -->
  <div class="aboutMeContainer">
    <div class="containerImage">
      <img src="/assets/interests-picture.jpg" />
    </div>
    <div class="aboutMeText">
      <h2>interests</h2>
      <p>
        I love playing video games and sports. The sports that I play are
        mostly football and futsal, but I also have fun playing badminton
        and volleyball. I listen to music a lot, too. Bands like Radiohead
        and Tame Impala have really grown on me this past year, but I listen
        to any songs as long as I think they are good. Movies and series are
        a must for me, especially when I don't have the mood to play games.
      </p>
    </div>
  </div>
</div>