---
layout: layouts/base.njk
title: Blog
pageStyle: /styles/pages/blog.css
---

<h1 id="homeTitle">
  words that might <br />
  be worth to read.
</h1>

<!-- Blog posts -->
<div id="blogPostsContainer">
  {% for post in blogPosts %}
  <a href="{{ post.file }}" class="blogPostsFile">
    <h2>{{ post.title }}</h2>
    <p class="blogPostsDate">{{ post.date | date("dd/MM/yyyy") }}</p>
    <p>{{ post.excerpt }}</p>
  </a>
  {% else %}
  <p style="text-align: center;">No blog posts found.</p>
  {% endfor %}
</div>