---
layout: layouts/base.njk
title: Blog
pageStyle: /styles/pages/blog.css
---

<h1 id="homeTitle">
  words that might <br />
  be worth to read.
</h1>

<!-- Blog posts -->
<div id="blogPostsContainer"></div>

<!-- JavaScript for fetching blog posts -->
<script src="/main.js"></script>