---
layout: layouts/base.njk
title: my first week of internship
pageStyle: /styles/pages/blog-post.css
---

<article>
  <!-- Blog content -->
  <div id="blogContent">
    <!-- Blog post header -->
    <header>
      <!-- Blog title and date -->
      <h1 id="blogPostTitle">my first week of internship</h1>
      <p id="blogDate">{{ blogPosts[0].date | date }}</p>
    </header>

    <p>
      6 October 2025 is my first day of internship. The day before, I felt
      abit nervous cus I never done an internship before. The instruction
      given to me was to go to the office and sign in at the receptionist.
      After that, I waited about 2 hours until I decided to text my
      supervisor. Only then I know that all of other interns were assigned
      to the client office.
    </p>

    <p>
      Arriving there, I can see my teams who are working on the current
      project. I was greeted and get to know all of them which changes my
      perspective of working at this company. I never know working in a team
      could be this a whole lot of fun! In a week I was able to learn a lot
      about the real process that is being done in a financial industry
      project. From development until the final testing process, it was a
      lot to be kept in mind at that time. Thanks to my friends and the
      senior here, I was able to adapt myself and get along with them. To a
      whole lot more adventure with my team! :)
    </p>

    <figure class="scrapbook-photo">
      <img src="/assets/first-week-internship.jpg" alt="Me at the Silverlake office" />
      <figcaption>me at the Silverlake office</figcaption>
    </figure>
  </div>
</article>