/* Global styles */

:root {
  --linen: #f5ebe0;
  --umber: #6c584c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  background-color: var(--linen);
  font-family: "Ubuntu", sans-serif;
}

/* Navigation bar styling */
ul.navBar {
  list-style-type: none;
}

.navBar li {
  float: left;
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
}

.navBar li:hover {
  background-color: var(--umber);
  color: white;
  cursor: pointer;
}

#navBarName {
  float: right;
  font-weight: bold;
}

/* Header styling */
#homeTitle {
  clear: both;
  text-align: center;
  font-size: 2.5rem;
  padding: 2rem;
}

/* About me styling */
#aboutMeContainer {
  display: flex;
  clear: both;
  align-items: center;
  justify-content: center;
}

#profilePicture {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--umber);
}

#aboutMeText {
  margin-left: 2rem;
}
